.room-card {
  background: white;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Header */
.room-card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.room-status {
  padding: 10px 24px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 15px 0 15px 0;
  color: white;
}

.tag-available {
  background-color: rgba(0, 133, 255, 0.8);
}

.tag-unavailable {
  background-color: #be3b3b;
}

.room-price {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.price-value {
  font-size: 36px;
  font-weight: 600;
  color: #2a44a1;
}

.price-unit {
  font-size: 32px;
  color: #2a44a1;
  font-weight: 400;
}

/* Content */
.room-card-content {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.room-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.2rem;
  min-width: 400px;
}

.room-title h3 {
  font-size: 22px;
  color: #073937;
  margin: 0;
}

.room-meta {
  color: #073937;
  font-size: 16px;
  font-weight: 500;
}

.room-description {
  color: #5e5e60;
  font-size: 18px;
  line-height: 1.5;
}

.room-features {
  background: rgba(245, 245, 245, 0.9);
  padding: 12px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.room-feature-item {
  color: #2a44a1;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 12px;
  border-radius: 15px;
}

/* RIGHT SIDE - IMAGE */
.room-image-container {
  flex: 1;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.room-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

/* BUTTON */
.reserve-button {
  padding: 16px 28px;
  background-color: rgba(0, 133, 255, 0.8);
  border: none;
  border-radius: 1000px;
  color: #f3ecdc;
  font-size: 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  transition: 0.2s ease;
  outline: 4px solid rgba(0, 133, 255, 0.24);
  outline-offset: -4px;
}

.reserve-button:hover {
  background-color: #2a44a1;
}
