.homepage-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* ocupa toda la pantalla */
  background-color: #f8fafc;
  margin: 0;
  padding: 0;
}

.homepage-container > * {
  flex-shrink: 0;
}
